<!doctype html>
<html lang="lv">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ruksis Normis - Bezmaksas online spēle </title>
    <meta name="title" content="Ruksis Normis - Bezmaksas online spēle">
    <meta name="description"
        content="Palīdzi saimniekam noķert bezkaunīgo Ruksi Normi, kas ticis brīvībā un sācis taisīt podus saimnieka druvā.">
    <meta name="theme-color" content="#8008b8">
    <link rel="icon" sizes="192x192" href="assets/Normis.png">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://normis.fun">
    <meta property="og:title" content="Ruksis Normis - Bezmaksas online spēle">
    <meta property="og:description"
        content="Palīdzi saimniekam noķert bezkaunīgo Ruksi Normi, kas ticis brīvībā un sācis taisīt podus saimnieka druvā.">
    <meta property="og:image" content="https://normis.fun/assets/facebook.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://normis.fun">
    <meta property="twitter:title" content="Ruksis Normis - Bezmaksas online spēle">
    <meta property="twitter:description"
        content="Palīdzi saimniekam noķert bezkaunīgo Ruksi Normi, kas ticis brīvībā un sācis taisīt podus saimnieka druvā.">
    <meta property="twitter:image" content="https://normis.fun/assets/twitter.png">

    <link href="https://fonts.googleapis.com/css?family=Chivo|Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/bootstrap-grid.css">
    <link rel="stylesheet" href="styles/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156254557-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-156254557-1');
    </script>

</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-7 text-left"><a href="index.html"><img src="assets/logo.svg"
                                alt="Ruksis Normis"></a></div>
                    <div class="col-6 col-sm-2 text-right"><a href="index-eng.html"><span><img src="assets/angliski.png"
                                    alt="English" class="flag"></span>English</a></div>
                    <a class="col-10 offset-1 col-sm-3 offset-sm-0 btn" href="store.html">Rukša veikals ⥂</a>
                </div>
            </div>
        </header>

        <main>
            <div id="start" v-if="startVisible">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-6">
                            <h1>Noķer ruksi Normi un izglāb saimnieka druvu</h1>
                            <p class="lead">Tev būs dotas 24 sekundes, lai saganītu neganto Ruksi Normi. Uzmanies viņš
                                ir veikls, un spēja ātri skriet pa saimnieka druvu!</p>
                            <button v-on:click.capture="startGame" class="btn btnNormis">Sākt spēli</button>
                        </div>
                        <div class="col-12 col-sm-6 text-center">
                            <img src="assets/zemnieks.svg" alt="zemnieks ar ruksi Normi">
                        </div>
                    </div>
                </div>
            </div>

            <div id="game" class="container" v-if="gameVisible">
                <h2 class="text-center">Laiks: {{hitTimeStart}}</h2>
                <div class="row game-canvas">
                    <template v-for="(frame, index) in frames">
                        <button class="col-3 col-sm-2 item"
                            v-bind:class="{ hasPig: frame.isNormis, hasPigSlapped: frame.isSlapped }"
                            v-on:click.capture="hit(frame)" :key="index"></button>
                    </template>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Tavs rezultāts: {{hitScore}}</h3>
                    </div>
                </div>
            </div>

            <div id="message" v-if="messageVisible">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12">
                            <img src="assets/Normis-last.svg" class="img-fluid img-normis wobble-hor-bottom"
                                alt="ruksis Normis" width="120rem">
                            <h1>Tavs rezultāts: {{hitScore}}</h1>
                            <p class="lead">Saimnieks, saka Tev paldies par palīdzību Rukša Normja ķeršanā!</p>
                            <button v-on:click.capture="restartGame" class="btn">Spēlēt vēlreiz</button>
                        </div>
                        <div class="col-12 share">
                            <h3>Patika spēle?</h3>
                            <p class="lead">Padalies ar savu rezultātu...</p>

                            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fcss-tricks.com%2F"
                                target="_blank"><img src="assets/fb-icon.svg" class="social"
                                    alt="Dalīties Facebook"></a>

                            <a v-bind:href="shareTwitterHref" target="_blank"><img src="assets/twitter-icon.svg"
                                    class="social" alt="Dalīties Twitterī"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Autors <a href="https://paulins.me/" target="_blank">Reinis Pauliņš</a>. Spēle veidota <a
                                href="https://paulins.me/" rel=”nofollow” target="_blank">Riga Coding
                                School</a> mājasdarba ietvaros</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="game.js"></script>
</body>

</html>